* {
  box-sizing: border-box;
}

::-webkit-scrollbar-thumb {
  background: #4742ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #19123c inset !important;
  -webkit-box-shadow: 0 0 0 30px #19123c inset !important;
  -webkit-text-fill-color: #fff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: url('/images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #02032e;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

.header__item {
  flex: 1;
  text-decoration: none;
}

.header__item:last-child {
  display: flex;
  justify-content: flex-end;
}

.divider {
  height: 1px;
  background: linear-gradient(90deg, #3057fe 4.41%, #3ab8fe 49.34%, #a167ff 80.89%);
}

.logo {
  margin: 0;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.logo__img {
  width: 40px;
  height: 40px;
}

.logo__brand {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 640px) {
  .logo__brand {
    display: none;
  }
}

.nav {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

@media (max-width: 1024px) {
  .nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75rem 0;
    background: #19123c;
  }
}

.nav__link {
  width: 86px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  line-height: 22px;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
}

.nav__link--active {
  font-weight: 700;
  background-color: #a167ff;
}

.btn-connect {
  width: 200px;
  padding: 0.5rem 2rem;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 10px;
  background: #4742ff;
  color: #fff;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.account-detail {
  height: 41px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.account-detail__provider {
  width: 1px;
  height: 21px;
  opacity: 0.3;
  background: #fff;
}

.account-balance {
  height: 100%;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  background: linear-gradient(92.6deg, #4742ff -39.33%, rgba(71, 66, 255, 0) 89.46%);
  color: #ffffff;
}

@media (max-width: 780px) {
  .account-detail {
    display: none;
  }
}

.account-address {
  height: 100%;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.dropdown {
  position: relative;
}

.dropdown__button {
  padding: 0 1rem;
  height: 41px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  color: #fff;
}

.dropdown__img {
  width: 28px;
}

.dropdown__enter {
  transition: transform 0.1s ease-out;
}

.dropdown__leave {
  transition: transform 0.075s ease-out;
}

.dropdown__hidden {
  opacity: 0;
  transform: scale(0.95);
}

.dropdown__visible {
  opacity: 1;
  transform: scale(1);
}

.dropdown-arrow {
  position: absolute;
  top: -5px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #4742ff;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 10px;
  background: linear-gradient(92.6deg, #4742ff -39.33%, rgba(71, 66, 255) 89.46%);
  border-radius: 4px;
}

.dropdown-menu__button {
  height: 41px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 14px;
  color: #fff;
}

.dropdown-menu__button-img {
  width: 20px;
  height: 20px;
}

.main {
  max-height: calc(100vh - 80px);
  padding-bottom: 2rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .main {
    max-height: calc(100vh - 140px);
  }
}

.card {
  margin: 4rem 1rem 0;
  padding: 0.75rem 1.25rem 1.5rem;
  border-radius: 22px;
  background: linear-gradient(
    123.31deg,
    rgba(48, 87, 254, 0.5) -20.75%,
    rgba(91, 158, 255, 0.5) 38.69%,
    rgba(161, 103, 255, 0.5) 98.13%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

@media (max-height: 700px) {
  .card {
    margin: 1rem 1rem 0;
  }
}

.form-group__title {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 600;
  font-size: 18px;
  line-height: 42px;
  color: #ffffff;
}

.token-input {
  padding: 0.25rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  border-radius: 14px;
  border: 2px solid #19123c;
  background: #19123c;
}

.input-group {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input__label {
  padding: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  opacity: 0.3;
  color: #ffffff;
}

.input {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  background: none;
  border: none;
  outline: none;
}

.select-token {
  min-width: 140px;
  height: 48px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  border-radius: 7px;
  background: #4742ff;
}

.select-token--loading {
  justify-content: center;
}

.select-token__token {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.select-token__token-img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.select-token__token-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.form-group__footer {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 23px;
  color: #ffffff;
}

.additional-text {
  font-size: 10px;
}

.card__divider {
  margin: 0.5rem 0;
  height: 1px;
  opacity: 0.25;
  background: #ffffff;
}

.btn-swap-chain {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #4742ff;
}

.btn-swap-chain__img {
  width: 14px;
  height: 14px;
}

.chain-input {
  width: 100%;
  height: 60px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 14px;
  border: 2px solid #19123c;
  opacity: 0.8;
  background: #02141e;
}

.select-chain {
  margin: 0;
  padding: 0.25rem 0.75rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-chain--loading {
  justify-content: center;
}

.form-group__item {
  flex: 1;
}

.select__label {
  width: 40px;
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.5;
  color: #ffffff;
}

.select-chain__chain {
  flex: 1;
  padding-left: 5rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.select-chain__img {
  width: 32px;
  height: 32px;
}

.select-chain__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  opacity: 0.6;
  color: #ffffff;
}

@media (max-width: 640px) {
  .select-chain__chain {
    justify-content: center;
    padding-left: 0;
  }

  .select-chain__text {
    font-size: 14px;
  }
}

.select-dropdown-icon {
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn-swap {
  margin-top: 1rem;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  border-radius: 15px;
  background: #4742ff;
  color: #ffffff;
  border: none;
  outline: none;
}

.btn-swap:disabled {
  background: rgba(255, 255, 255, 0.4);
}

.modal-container {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.modal-container__enter {
  transition: opacity 0.3s ease-out;
}

.modal-container__leave {
  transition: opacity 0.2s ease-out;
}

.modal-container__hidden {
  opacity: 0;
}

.modal-container__visible {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(180deg, #02032e 0%, rgba(2, 3, 46, 0) 100%);
  opacity: 0.95;
  backdrop-filter: blur(120px);
}

.modal {
  margin: 6rem 1rem 0;
  position: relative;
  flex-direction: column;
  z-index: 20;
  width: 400px;
  padding: 1rem;
  border-radius: 24px;
  min-height: 400px;
  text-align: center;
  background: linear-gradient(
    123.31deg,
    rgba(48, 87, 254, 0.5) -20.75%,
    rgba(91, 158, 255, 0.5) 38.69%,
    rgba(161, 103, 255, 0.5) 98.13%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 640px) {
  .modal {
    width: calc(100vw - 2rem);
  }
}

.modal--wallet {
  background: linear-gradient(
    136.48deg,
    #3057fe 0.9%,
    rgba(58, 178, 254, 0.88) 53.1%,
    #a167ff 94.57%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__header--end {
  justify-content: flex-end;
}

.modal__img {
  margin-top: 2rem;
  width: 120px;
  height: 120px;
  text-align: center;
}

.modal__message {
  margin-top: 1rem;
  font-size: 24px;
  color: #ffffff;
  padding: 0.5rem;
}

.modal__note {
  margin-top: 1rem;
  font-size: 18px;
  color: #ffffffb3;
}

.success-modal__message {
  color: #ffffffb3;
}

.success-modal__link {
  text-decoration: underline;
  color: #fff;
}

.modal-message__link {
  display: block;
  margin-top: 2rem;
  text-decoration: underline;
  color: #ffffffb3;
}

.modal__title {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 42px;
  color: #ffffff;
}

.modal__divider {
  margin: 0.5rem 0;
  height: 1px;
  opacity: 0.15;
  background: #ffffff;
}

.modal__body {
  margin-top: 1rem;
  height: 400px;
  overflow-y: auto;
}

.modal__body::-webkit-scrollbar {
  display: none;
}

.btn-wallet {
  margin-top: 1rem;
  width: 100%;
  height: 60px;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background: #232174;
}

.btn-wallet--loading {
  justify-content: flex-start;
  column-gap: 2rem;
}

.btn-wallet__text {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 38px;
  color: #ffffffb3;
}

.btn-wallet__img {
  width: 40px;
  height: 40px;
}

.coming-soon-text {
  margin-top: 10rem;
  font-weight: 600;
  font-size: 44px;
  color: #ffffff;
}

.search {
  margin-top: 1rem;
  height: 56px;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #11223c;
  border-radius: 15px;
}

.search__input {
  flex: 1;
  font-size: 16px;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  outline: none;
}

@media (max-width: 480px) {
  .search__input {
    font-size: 14px;
  }
}

.search__icon {
  width: 16px;
  height: 16px;
}

.modal__item {
  width: 100%;
  height: 56px;
  padding: 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
}

.modal__item:last-child {
  margin-bottom: 0;
}

.modal__item--token {
  background: #23217440;
}

.modal__item--chain {
  justify-content: flex-start;
  column-gap: 1rem;
  background: #23217440;
}

.modal__item--token-active {
  background: #29295f;
}

.modal__item--chain-active {
  background: #29295f;
}

.modal__item--chain-disabled {
  display: none;
}

.token-group {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.token__img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.token__symbol {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.token__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.7);
}

.empty-token {
  margin-top: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.spiner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.spiner::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 3px solid rgba(256, 256, 256, 0.7);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loader {
  margin: 3rem auto 2rem;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }
  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }
  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}

.validation {
  margin: 0.25rem 0.75rem 0;
  font-size: 12px;
  color: #f87171;
}

.support-title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
}

.support {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1.25rem 1rem;
  border-radius: 22px;
  background: linear-gradient(
    123.31deg,
    rgba(48, 87, 254, 0.5) -20.75%,
    rgba(91, 158, 255, 0.5) 38.69%,
    rgba(161, 103, 255, 0.5) 98.13%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 640px) {
  .support {
    width: calc(100% - 2rem);
  }
}

.support__label {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  color: #fff;
}

.support__input {
  min-height: 44px;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 2px solid #19123c;
  background: #19123c;
  color: #ffffffb3;
  outline: none;
}

.support__input:-webkit-autofill,
.support__input:-webkit-autofill:hover,
.support__input:-webkit-autofill:focus,
.support__input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #ffffffb3 !important;
}

.support__button {
  margin-top: 1rem;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  border-radius: 15px;
  background: #4742ff;
  color: #ffffff;
  border: none;
  outline: none;
}

.support__helper-text {
  margin: 0.25rem 0;
  font-size: 12px;
  color: #f87171;
}

.wallet {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: 3rem;
  width: 600px;
  min-height: 410px;
  border-radius: 24px;
  background: linear-gradient(
    123.31deg,
    rgba(48, 87, 254, 0.5) -20.75%,
    rgba(91, 158, 255, 0.5) 38.69%,
    rgba(161, 103, 255, 0.5) 98.13%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.wallet__header {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.wallet-header__text {
  font-weight: 600;
  color: #fff;
}

.wallet__body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wallet__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  height: 50px;
  padding: 2rem 0;
}

.wallet__token {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.wallet__guide {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

@media (max-width: 640px) {
  .wallet {
    width: calc(100% - 2rem);
    border-radius: 10px;
  }
}

.wallet-token__img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.wallet-token__text {
  color: #ffffffb3;
  font-weight: 600;
}

.history {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-top: 6rem;
  width: 1200px;
  border-radius: 24px;
  background: linear-gradient(
    123.31deg,
    rgba(48, 87, 254, 0.5) -20.75%,
    rgba(91, 158, 255, 0.5) 38.69%,
    rgba(161, 103, 255, 0.5) 98.13%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

@media (max-width: 1200px) {
  .history {
    width: calc(100% - 2rem);
    border-radius: 10px;
    overflow: auto;
  }

  .history__row {
    column-gap: 2rem;
  }

  .history__row-item {
    min-width: 200px;
  }
}

.history__header {
  height: 40px;
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.history__row {
  display: flex;
  margin-bottom: 2rem;
}

.history__row-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.history__row-item--left {
  justify-content: flex-start;
}

.history__row-item--small {
  flex: 0.5;
}

.history__name {
  margin-left: 0.5rem;
}

.history__link {
  text-decoration: underline;
  color: #fff;
}

.toast {
  position: absolute;
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
  bottom: 2rem;
  left: 2rem;
  padding: 1rem 2rem;
  font-size: 16px;
  color: #ffffff;
  border-radius: 8px;
  background: linear-gradient(
    123.31deg,
    rgba(48, 87, 254, 0.5) -20.75%,
    rgba(91, 158, 255, 0.5) 38.69%,
    rgba(161, 103, 255, 0.5) 98.13%
  );
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.toast__enter {
  transition: transform 0.5s ease-out;
}

.toast__leave {
  transition: transform 0.5s ease-out;
}

.toast__hidden {
  transform: translateX(calc(-100% - 2rem));
}

.toast__visible {
  transform: translateX(0);
}

.toast__title {
  margin-bottom: 0.25rem;
  font-size: 18px;
  font-weight: 700;
  color: #4ade80;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.page--disabled {
  opacity: 0.4;
}
